*{
    margin: 0;
}

body{
    background-color: black;

}


nav{
    position: fixed;
    background-color: lavender;
}


li{
    display: inline-block;
}

p{

    font-family: Arial;
    text-shadow: 2px 2px 8px red, -2px -2px 8px rebeccapurple;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    line-height: 60px;
    padding: 50px;
}


.divA1{
    border: 5px solid white;
    outline: 5px solid olive;
    margin-left: 100px;

    display: inline-block;

    margin-top: 50px;

    height: 300px;
    width: 300px;
    background-color: coral;

    overflow: scroll;

    line-height: 20vh;
    text-shadow: 2px 2px 2px red, -2px -2px 2px blue;

    writing-mode: vertical-lr;
    font-size: 2em;


}


.divB{
    border: 5px solid white;
    outline: 5px solid olive;
    margin-left: 100px;

    height: 300px;
    width: 300px;
    background-color: lightcoral;
    overflow: scroll;
    font-size: 4vh;
}

.divC{
    border: 5px solid white;
    outline: 5px solid olive;
    margin-left: 100px;

    position: relative;
    bottom: 250px;
    left: 30px;
    z-index: -1;
    height: 300px;
    width: 300px;
    background-color: darkslategray;
    margin-bottom: 100px;
    box-shadow: 250px 0px 50px olivedrab;

}

.divA2{


    border: 5px solid olivedrab;
    margin-left: 100px;

    position: relative;

    margin-top: 50px;

    height: 300px;
    width: 300px;
    background-color: coral;

    line-height: 50vh;
    display: inline-block;
}


.divFill1{
    display: inline-block;
    position: absolute;

    border: 5px solid white;

    width: 50px;
    height: 50px;
    background-color: black;
}

.divFill2{
    display: inline-block;

    position: absolute;
    left: 60px;

    border: 5px solid black;

    width: 50px;
    height: 50px;
    background-color: white;

}
